[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "==1.5.1"
sqlalchemy = "==0.9.8"
south = "==0.8.1"
mysql-connector-python = "*"
mysql-python = "*"
attrs = "*"


[requires]

python_version = "2.7"
